<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        style="--color: var(--ion-color-dark-contrast);"
        defaultHref="categoria"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        name="nomeCategoria"
        [(ngModel)]="categoria.nome"
        required
        #nome="ngModel"
      ></ion-input>
    </ion-item>
    <ion-message-validator
      [control]="nome.control"
    ></ion-message-validator>
    <ion-button
      expand="block"
      [disabled]="form.form.invalid"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
