<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        style="--color: var(--ion-color-dark-contrast);"
        defaultHref="cardapio"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <!-- Foto -->
    <div class="ion-margin-vertical">
      <ion-card>
        <img src="../../../assets/images/hamburger.jpg">
        <ion-card-content>
          <ion-button
            color="danger"
            expand="block"
            fill="outline"
          >
            <ion-icon
              slot="start"
              name="trash"
            ></ion-icon>
            Remover foto
          </ion-button>
        </ion-card-content>
      </ion-card>

      <div class="ion-text-center">
        <ion-button
          color="medium"
          size="large"
        >
          <ion-icon
            slot="start"
            name="image-outline"
          ></ion-icon>
          Adicionar uma foto
        </ion-button>
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="produto.nome"
        name="nome"
        required
        #nome="ngModel"
      ></ion-input>
    </ion-item>
    <ion-message-validator [control]="nome.control"></ion-message-validator>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select
        [(ngModel)]="produto.categoria"
        name="categoria"
        required
      >
        <ion-select-option
          *ngFor="let categoria of categoriaList"
          [value]=categoria
        >
          {{categoria.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-mask-money
      name="preco"
      label="Preço R$"
      typeLabel="floating"
      [(ngModel)]="produto.preco"
      #preco="ngModel"
      required
      minValueValidation=1.00
    >
    </ion-mask-money>
    <ion-message-validator
      [control]="preco.control"
      mensagemError="Preço minimo do Produto R$ 1,00"
    ></ion-message-validator>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea
        [(ngModel)]="produto.descricao"
        name="descricao"
      ></ion-textarea>
    </ion-item>
    <ion-button
      expand="block"
      [disabled]="form.form.invalid"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
