<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let produto of produtos">
      <ion-thumbnail slot="start">
        <ion-img [src]="produto.photoUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>{{produto.nome}}</h1>
        <small>{{produto.categoria}}</small>
        <p class="ion-text-wrap">{{produto.descricao}}</p>

        <ion-text color="success">
          <p>{{produto.preco | currency:'BRL'}}</p>
        </ion-text>

        <!-- Action buttons -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="secondary" (click)="remover(produto)" >
                <ion-icon slot="start" name="trash"></ion-icon>
                Remover
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="secondary">
                <ion-icon slot="start" name="pencil"></ion-icon>
                Editar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button [routerLink]="['/cardapio/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
