<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>
        <h1>{{categoria.nome}}</h1>
        <!-- Action buttons -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="secondary" (click)="remover(categoria)" >
                <ion-icon slot="start" name="trash"></ion-icon>
                Remover
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="secondary">
                <ion-icon slot="start" name="pencil"></ion-icon>
                Editar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
