<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        style="--color: var(--ion-color-dark-contrast);"
        defaultHref="entrega"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <ion-item>
      <ion-label position="floating">Dia da Semana</ion-label>
      <ion-select [(ngModel)]="restaurante.semana" name="semana" required>
        <ion-select-option *ngFor="let dia of diasDaSemana" [value]="dia.value">{{dia.label}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora Inicio</ion-label>
       <ion-datetime
            display-format="H:mm"
            picker-format="H:mm"
            doneText="Ok"
            cancelText="Cancelar"
            [(ngModel)]="restaurante.horaInicio"
            name="horaInicio"
            required
          ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora Fim</ion-label>
       <ion-datetime
            display-format="H:mm"
            picker-format="H:mm"
            doneText="Ok"
            cancelText="Cancelar"
            [(ngModel)]="restaurante.horaFim"
            name="horaFim"
            required
          ></ion-datetime>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="form.form.invalid">Salvar</ion-button>
  </form>
</ion-content>
