<ion-item *ngIf="control.invalid && (control.dirty || control.touched)">
  <div class="texto-validacao" *ngIf="control.errors.required">
    <div style="margin: 5px;">
      {{mensagemError || 'Esse campo é obrigatório'}}
    </div>
  </div>
  <!--  -->
  <div class="texto-validacao" *ngIf="control.errors.minlength">
    <div style="margin: 5px;">
      {{mensagemError || 'Informe pelo menos 5 letras'}}
    </div>
  </div>
  <!--  -->
  <div class="texto-validacao" *ngIf="control.errors.minValue">
    <div style="margin: 5px;">
      {{mensagemError || 'O valor mínimo é '.concat(control.errors.minValue)}}
    </div>
  </div>
</ion-item>
