.texto-validacao {
  /* background: var(--ion-color-secondary); */
  border: 2px solid var(--ion-color-warning);
  /* border-radius: 18px; */
  width: 291px;
  height: 34px;
  position: absolute
}

.texto-validacao:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 9px solid var(--ion-color-warning);
  bottom: 31px;
  left: -1%;
}