<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        style="--color: var(--ion-color-dark-contrast);"
        defaultHref="entrega"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input
        [(ngModel)]="entrega.bairro"
        name="bairro"
        #bairro="ngModel"
        required
        minlength="5"
      ></ion-input>
    </ion-item>
    <ion-message-validator
      [control]="bairro.control"
      mensagemError="Bairro é obrigatorio"
    ></ion-message-validator>

    <ion-item>
      <ion-label position="floating">Tempo de Entrega (em minutos)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="entrega.tempoEntrega"
        name="tempoEntrega"
        #tEntrega="ngModel"
        [required]="entrega.tempoEntrega !== ''"
        minValueValidation=5
      ></ion-input>
    </ion-item>
    <ion-message-validator
      [control]="tEntrega.control"
      mensagemError="Informar Tempo de entrega"
    ></ion-message-validator>

    <ion-item>
      <ion-label
        [(ngModel)]="entrega.entregaGratis"
        name="entrega"
      >
        Frete Gratis
      </ion-label>
      <ion-toggle
        slot="end"
        color="secondary"
        (ionChange)="freteGratis()"
      ></ion-toggle>
    </ion-item>
    <ion-mask-money
      [disabled]="entrega.entregaGratis"
      name="valor"
      label="Valor da Entrega R$"
      typeLabel="floating"
      [(ngModel)]="entrega.valorEntrega"
      #valor="ngModel"
      required
      minValueValidation=1.00
    >
    </ion-mask-money>
    <ion-message-validator
      [control]="valor.control"
      mensagemError="Valor minimo de entrega R$ 1,00"
    ></ion-message-validator>
    <ion-button
      expand="block"
      [disabled]="form.form.invalid"
    >
      Salvar
    </ion-button>
  </form>
</ion-content>
